
h1 {
  display: flex;
  justify-content: center;
  
}

input {
  border: 2px solid yellow;
  background-color: #ffff0073;
  border-radius: 5px;
  width: 50%;
  height: 50px;
}


.todo-list {
  border: 1px solid #ddd;
  border-radius: 5px;
}

.todo-form {
  display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.status-block {
  flex: 1;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
}

.todo-item button {
  background-color: white;
  color: #000;
  padding: 5px 10px;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 8px;
}

.to-do {
  background-color: #f8d7da; /* Light red for to-do items */
}

.doing {
  background-color: #93cee1; /* Light yellow for doing items */
}

.code-review {
  background-color: #a9edb9; /* Light green for code review items */
}

.test {
  background-color: #ddaee9; /* Light blue for test items */
}

.done {
  background-color: #ff9a7b; /* Light cyan for done items */
}


.toDo-block {
  border: 2px solid pink;
  background: pink;
}

.doing-block {
  border: 2px solid lightblue;
  background-color: lightblue;
}

.code-block{
  border: 2px solid #9ad59a;
  background-color: #9ad59a;
}

.test-block{
  border: 2px solid #e388e3;
  background-color: #e388e3;
}

.done-block {
  border: 2px solid #ffb897;
  background-color: #ffb897; 
}

.add-btn {
  border: 2px solid yellow;
  background-color: #ffff0073;
  width: 100px;
  height: 30px;
  border-radius: 8px;
}


@media screen and (min-width: 320px) and (max-width: 480px) {
  .todo-list {
    padding: 10px;
  }

  .todo-form {
    margin-bottom: 10px;
  }

  .status-block {
    flex-direction: column;
    align-items: stretch;
  }

  .todo-item {
    padding: 8px;
    margin-bottom: 8px;
  }
}


@media screen and (min-width: 481px) and (max-width: 768px) {
  .todo-list {
    padding: 20px;
  }

  .todo-form {
    margin-bottom: 20px;
  }

  .status-block {
    flex-direction: column;
    align-items: stretch;
  }

  .todo-item {
    padding: 12px;
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .todo-list {
    padding: 30px;
  }

  .todo-form {
    margin-bottom: 30px;
  }

  .status-block {
    flex-direction: row;
    align-items: flex-start;
  }

  .todo-item {
    padding: 16px;
    margin-bottom: 16px;
  }


}

